<div class="l-body">
    <div class="container">
      <div class="box-style box-style-top box-scroll-full d-flex align-items-center justify-content-center">
        <h1 class="display-1 fw-bold">Futur</h1>
      </div>
    </div>
  </div>
  <div class="l-footer">

  </div>

<div class="right-side h-100">
<div class="right-side-inner h-100">
  <div class="r-header sticky-top">
    <div class="">
      <h4>Help</h4>
      <a href="" class="sidebar-toggler btn btn-danger text-light ms-3"><i class="fa fa-times"></i></a>
    </div>
  </div>
  <div class="r-body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
  </div>
  <div class="r-footer"></div>
</div>
</div>