<div class="l-header">
  <app-menu></app-menu>
</div>

<div class="modal fade login-modal" id="login-modal" data-bs-keyboard="true" tabindex="-1"
  aria-labelledby="login-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
    <h1 class="modal-title fs-5" id="login-modalLabel">Login</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div> -->
      <div class="modal-body">
        <h4 class="mb-3">Login</h4>
        <button type="button" class="btn close-btn text-danger fs-4" data-bs-dismiss="modal" aria-label="Close"><i
            class="fa fa-times"></i></button>
            <form method="post" action="" [formGroup]="loginForm" (ngSubmit)="loginUser()">
              <div class="mb-3">
                <input type="text" name="" id="" class="form-control" placeholder="Username" aria-describedby="helpId"
                  formControlName="user">
                <div *ngIf="formSubmitted && loginForm.get('user')?.hasError('required')" style="color: red;">
                  Username is required.
                </div>
                <div *ngIf="formSubmitted && loginForm.get('user')?.hasError('pattern')" style="color: red;">
                  Username must consist of letters and numbers and may contain capital letters.
                </div>
              </div>
              <div class="mb-3">
                <input type="password" name="" id="" class="form-control" placeholder="Password" aria-describedby="helpId"
                  formControlName="password">
                <div *ngIf="formSubmitted && loginForm.get('password')?.hasError('required')" style="color: red;">
                  Password is required.
                </div>
                <div *ngIf="formSubmitted && loginForm.get('password')?.hasError('minlength')" style="color: red;">
                  Password must contain at least 8 characters.
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-100 btn-custom">
                Connexion
              </button>
            </form>
      </div>
      <!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Understood</button>
  </div> -->
    </div>
  </div>
</div>

<ng-container *ngComponentOutlet="comp"></ng-container>

<router-outlet></router-outlet>
