section {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
  margin: 7% auto 50px auto;
  flex-wrap: wrap;
}

p {
  font-family: Lato;
}

h1 {

  transition: color .2s;

}
h1 :leave {
  transition: display 4s;
}
.header {
    margin-top: 100px;
}

section {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
  margin: 7% auto 50px auto;
  flex-wrap: wrap;
}

.square-container {
   flex: 0 0 32%;
   /* height: 100%; */
}

section {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
  margin: 7% auto 50px auto;
  flex-wrap: wrap;
}

.h-48 {
  height: 12rem;
}


