<div class="l-body">
    <div class="container-fluid">
      <div class="box-style box-style-top box-scroll-full">
        <section class="home-section">
          <div class="about-me box-style-right">
            <div class="row align-items-center">
              <div class="col-lg-auto mb-4 mb-lg-0">
                <img src="assets/img/home_space.png" alt=""
                  class="img-fluid profile-pic">
              </div>
              <div class="col-lg">
                <h1 class="mb-4">About me</h1>
                <strong><h4>Welcome to my portfolio!</h4></strong>
                <p>Currently in .... </p>
                <h5>Good visit!</h5>
              </div>
            </div>
          </div>
          <div class="sticky-top">
            <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="btn-custom btn btn-primary active" id="nav1-tab" data-bs-toggle="tab"
                  data-bs-target="#nav1-tab-pane" type="button" role="tab" aria-controls="nav1-tab-pane"
                  aria-selected="true">Passions</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="btn-custom btn btn-success" id="nav2-tab" data-bs-toggle="tab" data-bs-target="#nav2-tab-pane"
                  type="button" role="tab" aria-controls="nav2-tab-pane"
                  aria-selected="false">Aspirations</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="btn-custom btn btn-warning" id="nav3-tab" data-bs-toggle="tab" data-bs-target="#nav3-tab-pane"
                  type="button" role="tab" aria-controls="nav3-tab-pane" aria-selected="false">Créations</button>
              </li>
            </ul>
          </div>
          <div class="hobbies box-style box-style-right home-inner">
            <div class="tab-content p-0" id="myTabContent">
              <div class="tab-pane fade show active" id="nav1-tab-pane" role="tabpanel"
                aria-labelledby="nav1-tab" tabindex="0">
                <div class="row gy-4">
                  <!-- Basketball -->
                  <div class="col-lg-6">
                      <h4>Basketball</h4>
                      <p>J'adore jouer au basketball et je le pratique depuis de nombreuses années. C'est un bon moyen d'utiliser mon côté compétitif et de me défouler.</p>
                  </div>

                  <!-- Natation -->
                  <div class="col-lg-6">
                      <h4>Natation</h4>
                      <p>La natation est non seulement une passion pour moi, mais je donne également des cours. C'est une excellente façon d'apprendre la discipline et la persévérance.</p>
                  </div>

                  <!-- Création de sites ecommerce -->
                  <div class="col-lg-6">
                      <h4>Création de sites e-commerce</h4>
                      <p>J'ai créé plusieurs sites transactionnels de type e-commerce pour des amis et pour moi même, ce qui m'a permis d'acquérir une solide expérience en matière de conception et de développement web.</p>
                  </div>

                  <!-- Lecture -->
                  <div class="col-lg-6">
                      <h4>Lecture</h4>
                      <p>La lecture est une évasion pour moi. Que ce soit la fiction, la non-fiction ou les livres professionnels, chaque livre offre une nouvelle perspective.</p>
                  </div>

                  <!-- Voyages -->
                  <div class="col-lg-6">
                      <h4>Voyages</h4>
                      <p>Voyager me permet de découvrir de nouvelles cultures, de nouveaux paysages et de rencontrer des personnes incroyables. J'adore voyager et expériencer de nouvelles aventures.</p>
                  </div>

                  <!-- Gym -->
                  <div class="col-lg-6">
                      <h4>Gym & Bien-être</h4>
                      <p>Aller au gym est essentiel pour moi afin de garder un bon physique et mental. Je pratique également du Jiu-Jitsu comme art martial. Cela me permet de rester en forme et de m'équilibrer mentalement.</p>
                  </div>
              </div>
              </div>
              <div class="tab-pane fade" id="nav2-tab-pane" role="tabpanel" aria-labelledby="nav2-tab"
                tabindex="0">
                <div class="row gy-4">
                  <div class="col-lg-6">
                    <h4>Cybersécurité</h4>
                    <p>Du côté professionnel, j'aimerais occuper un poste en cybersécurité afin d'aider à combattre
                       la perte de données mais aussi afin de rester moi même à la fine pointe des avacements technologiques.</p>
                  </div>
                  <div class="col-lg-6">
                    <h4>Entreprise en Informatique</h4>
                    <p>En lien avec ma passion pour l'informatique et avec ma volonté de combler le besoin de sécurité en ligne que beaucoup ressentent.
                      J'aimerais avoir une entreprise de sécurité informatique qui a comme objectif d'aider les individus et entreprises à reconnaitre les attaques potentielles.</p>
                  </div>
                  <div class="col-lg-6">
                    <h4>Pilote Privé</h4>
                    <p>Depuis jeune, je suis fasciné par le fonctionnement de l'espace et de l'air en général.
                      Parallèlement, le fonctionnement des avions et les vols commerciaux ainsi que privés me passionnent.
                      J'aimerais alors poursuivre les cours pour obtenir mon brevet de pilote privé et peut-être même un jour la license pour piloter un hélicoptère... ! &#128513;</p>
                  </div>
                  <div class="col-lg-6">
                    <h4>Ceinture Noire en Jiu-Jitsu</h4>
                    <p>Je suis présentement des cours de JJB hebdomadairement et je compte continuer jusqu'à la ceinture noire.. ce qui prend au total, minimum 10 ans!</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav3-tab-pane" role="tabpanel" aria-labelledby="nav3-tab"
                tabindex="0">
                <div class="row gy-4">
                  <div class="col-lg-12 text-center fw-bold">
                    <h4>Future Creations</h4>
                    <p>Cette page sera dédiée à mes projets futurs et créations à venir. Restez à l'affut!</p>
                  </div>
                  <div class="col-lg-6">
                    <h4>Création future</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat nisi facere quisquam
                      perspiciatis delectus tempore dicta rerum sequi expedita praesentium voluptates, doloribus
                      sapiente sint vero qui error, impedit, ipsum doloremque.</p>
                  </div>
                  <div class="col-lg-6">
                    <h4>Création future</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat nisi facere quisquam
                      perspiciatis delectus tempore dicta rerum sequi expedita praesentium voluptates, doloribus
                      sapiente sint vero qui error, impedit, ipsum doloremque.</p>
                  </div>
                  <div class="col-lg-6">
                    <h4>Création future</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat nisi facere quisquam
                      perspiciatis delectus tempore dicta rerum sequi expedita praesentium voluptates, doloribus
                      sapiente sint vero qui error, impedit, ipsum doloremque.</p>
                  </div>
                  <div class="col-lg-6">
                    <h4>Création future</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat nisi facere quisquam
                      perspiciatis delectus tempore dicta rerum sequi expedita praesentium voluptates, doloribus
                      sapiente sint vero qui error, impedit, ipsum doloremque.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="l-footer">

  </div>


<app-help-component [content]="'This is the content for the Home component.'"></app-help-component>
