<div class="l-body">
    <div class="container">
      <div class="box-style box-style-top box-scroll-full">
        <div class="row gy-4">
          <div class="col-lg-8">
            <h2 class="mb-4">Create an event</h2>
            <div class="row gy-4">
              <div class="col-lg-6">
                <!-- <label for="" class="form-label">Name</label> -->
                <input type="text" name="" id="" class="form-control form-control-lg" placeholder="Last Name"
                  aria-describedby="helpId">
              </div>
              <div class="col-lg-6">
                <!-- <label for="" class="form-label">Name</label> -->
                <input type="text" name="" id="" class="form-control form-control-lg" placeholder="First name"
                  aria-describedby="helpId">
              </div>
              <div class="col-lg-12">
                <!-- <label for="" class="form-label">Name</label> -->
                <input type="email" name="" id="" class="form-control form-control-lg" placeholder="Email"
                  aria-describedby="helpId">
              </div>
              <div class="col-lg-6">
                <!-- <label for="" class="form-label">Name</label> -->
                <input type="password" name="" id="" class="form-control form-control-lg" placeholder="Password"
                  aria-describedby="helpId">
              </div>
              <div class="col-lg-6">
                <!-- <label for="" class="form-label">Name</label> -->
                <input type="password" name="" id="" class="form-control form-control-lg"
                  placeholder="Confirm password" aria-describedby="helpId">
              </div>
              <div class="col-lg-12">
                <!-- <label for="" class="form-label"></label> -->
                <textarea class="form-control form-control-lg" name="" id="" placeholder="Description"
                  rows="7"></textarea>
              </div>
              <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary btn-custom">Submit</button>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <h2 class="mb-4">Access an event</h2>
            <div class="row gy-4">
              <div class="col-lg-12">
                <!-- <label for="" class="form-label">Name</label> -->
                <input type="text" name="" id="" class="form-control form-control-lg"
                  placeholder="Meeting identifier" aria-describedby="helpId">
              </div>
              <div class="col-lg-12">
                <!-- <label for="" class="form-label">Name</label> -->
                <input type="text" name="" id="" class="form-control form-control-lg" placeholder="First name"
                  aria-describedby="helpId">
              </div>
              <div class="col-lg-12">
                <!-- <label for="" class="form-label">Name</label> -->
                <input type="text" name="" id="" class="form-control form-control-lg" placeholder="Last name"
                  aria-describedby="helpId">
              </div>
              <div class="col-lg-12">
                <!-- <label for="" class="form-label">Name</label> -->
                <input type="email" name="" id="" class="form-control form-control-lg" placeholder="Email"
                  aria-describedby="helpId">
              </div>
              <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary btn-custom">Submit</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-footer">

  </div>

<div class="right-side h-100">
<div class="right-side-inner h-100">
  <div class="r-header sticky-top">
    <div class="">
      <h4>Help</h4>
      <a href="" class="sidebar-toggler btn btn-danger text-light ms-3"><i class="fa fa-times"></i></a>
    </div>
  </div>
  <div class="r-body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit accusamus quos exercitationem
      aut voluptatibus! Magni culpa natus dignissimos inventore animi accusantium qui delectus suscipit omnis
      fugit molestiae quisquam, quibusdam quia.</p>
  </div>
  <div class="r-footer"></div>
</div>
</div>